body {
      font-family: "Test Founders Grotesk Cnd Medium";
      overflow-x: hidden;
}
.mt-80 {
  margin-top: 80px;
}
.main .for-sticky {
    height: 100lvh;
    display: grid;
    position: sticky;
    top: 0;
}
.cards .card1 {
  padding: 25px 56px 59px;
  position: relative;
transform: translate(-2.1586%, 3.965%) translate3d(0px, 42.2989px, 0px) rotate(1.56deg);
z-index: -1;
/* position: absolute; */
}
.cards .about-card {
    height: 110lvh;

}
.seq-canvas {
  position: fixed; 
  left: 50%;
  top: 50%;              
  transform: translate(-50%, -50%);
  width: auto;           /* ← بدل min(1000px, 80vw) */
  height: auto;          /* ← خلينا الـ JS يتحكم في الحجم */
  max-width: 90vw;       /* ← علشان ميطلعش برة الشاشة */
  max-height: 90vh;      /* ← نفس الفكرة */
  display: block;
  pointer-events: none; 
  z-index: 10;
}

.for-sticky .cards {
  position: relative;
  z-index: 2;
}

.cards .card1,
.cards .card2,
.cards .about-card {
  z-index: 3;
  position: relative;
}
.cards {
    z-index: -1;
    flex-flow: column;
    grid-area: 1 / 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 2.5em;
    padding-right: 2.5em;
    display: flex;
    position: relative;
    overflow: clip;
}
.cards .card-num1{
        align-self: flex-end;
}
.cards .card-num2{
        align-self: flex-start;
}
.cards .card-num3{
        align-self: flex-end;
}
.cards .card-num4{
        align-self: flex-start;
}
/* .about-card4 {
        height: 500vh;

} */

.cards .card2 {
transform: translate(-2.1586%, 3.965%) translate3d(0px, 42.2989px, 0px) rotate(-1.56deg);
}
.cards .card1 .smile-image {
  position: absolute;
  top: -65px;
  left: 43%;
  transform: translate3d(0px, 0px, 0px) rotate(-8.1333deg);
}
.cards .card2 .smile-image {
     transform: translate3d(0px, 0px, 0px) rotate(9.6443deg);
}
.cards .card1 .smile-image img {
    width: 98px;
}
.cards .card1 .heading {
    font-size: 100px;
    letter-spacing: -.01em;
    text-transform: uppercase;
    line-height: 75%;
}
.cards .card1 .parag {
    letter-spacing: -.01em;
    line-height: 92%;
    color: #335c30;
    font-size: 35px;
    text-align: center;
    position: relative;
    z-index: 10;
}
.cards .card1  .text-icon {
  position: relative;
}
.cards .card1  .text-icon img {
      animation: skew .8s steps(7, end) infinite;
}

.cards .card1 .layer {
  position: absolute;
    top: -28px;
    left: 3%;
    transform: rotate(-7deg);
}
.cards .card1 .layer img {
    animation: skew .8s steps(7, end) infinite;
    width: 210px;
    grid-area: 1 / 1;

}

@keyframes skew {
    0% {
    transform: translateY(1px);
}
20% {
    transform: translate(-1px, -1px);
}
32% {
    transform: translate(0);
}
48% {
    transform: translate(0);
}
64% {
    transform: translate(1px);
}
80% {
    transform: translateY(-1px);
}
100% {
    transform: translate(0);
}
}
.cards {
    position: relative;
}
.cards .more-img {
    position: fixed;
    /* bottom: -150px; */
    right: 23%;
    top: 40%;
    display: grid;
}
.cards .more-img img{
    width: 185px;
    grid-area: 1 / 1;
      animation: skew .8s steps(7, end) infinite;
}
.cards .card-num4 .layer {
    position: absolute;
    top: 17px;
    left: 9%;
    transform: rotate(-7deg);
}
.cards .card-num4 .layer img{
    width: 68px;
}

.for-sticky .final-title {
    color:#335c30;
    letter-spacing: -.03em;
    font-size: 150px;
    line-height: 76%;
        opacity: 0;
    transform: translateY(50px);
}
.for-sticky .final-title span{
    color: #90b96d;
    display: block;
    margin-top: 15px;
    letter-spacing: -.03em;
       transform: translateY(100px) translateZ(-100px);
    transform-style: preserve-3d;
}

.final-sec .strawberry,
.final-sec .arrow1,
.final-sec .biscuit,
.final-sec .arrow2,
.final-sec .biscuit-img1,
.final-sec .biscuit-img2,
.final-sec .strawberry-img1,
.final-sec .strawberry-img2 {
    opacity: 0;
    transform: translateY(150px) translateZ(-200px) rotateX(-45deg);
    transform-style: preserve-3d;
}

.final-sec {
    position: relative;
    perspective: 1000px; /* ← مهم للـ 3D effect */
    transform-style: preserve-3d;
}
.for-sticky .final-sec {
    position: relative;
}
.for-sticky .final-sec .strawberry {
    position: absolute;
    right: 12%;
    top: 5%;
    display: grid;
    transform: rotate(-10deg);
}
.for-sticky .final-sec .strawberry img{
    grid-area: 1 / 1;
    width: 150px;
    animation: skew .8s steps(7, end) infinite;
}
.for-sticky .final-sec .arrow1 {
    position: absolute;
    right: 16%;
    top: 30%;
    display: grid;
}
.for-sticky .final-sec .arrow1 img{
    grid-area: 1 / 1;
    width: 70px;
    animation: skew .8s steps(7, end) infinite;

}

.for-sticky .final-sec .biscuit {
  position: absolute;
    left: 12%;
    top: 6%;
    display: grid;
    transform: rotate(-10deg);
}
.for-sticky .final-sec .biscuit img{
    grid-area: 1 / 1;
    width: 100px;
    animation: skew .8s steps(7, end) infinite;

}
.for-sticky .final-sec .arrow2 {
   position: absolute;
    left: 16%;
    top: 30%;
    display: grid;
    transform: rotate(25deg);
}
.for-sticky .final-sec .arrow2 img{
    grid-area: 1 / 1;
    width: 90px;
    animation: skew .8s steps(7, end) infinite;

}

.for-sticky .final-sec .biscuit-img1{
    position: absolute;
    left: -4%;
    top: -3%;
}
.for-sticky .final-sec .biscuit-img1 img{
    width: 200px;
    filter: blur(3px);
}
.for-sticky .final-sec .biscuit-img2{
    position: absolute;
    left: 16%;
    bottom: 5%;
    transform: rotate(280deg);
}
.for-sticky .final-sec .biscuit-img2 img {
    width: 100px;
}

.for-sticky .final-sec .strawberry-img1{
   position: absolute;
    right: -10%;
    top: 5%;
    transform: rotate(-23deg);

}
.for-sticky .final-sec .strawberry-img1 img{
    width: 345px;
    filter: blur(4px);
}


.for-sticky .final-sec .strawberry-img2{
    position: absolute;
    right: 23%;
    top: -3%;
    transform: rotate(-5deg);
}
.for-sticky .final-sec .strawberry-img2 img {
    width: 150px;
}